@import "tailwindcss";

html,body{
    overflow-x: hidden;
}

#todo {
  height: 300px;
  overflow-y: scroll;
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}